{{ define "main" }}

<article>
    <header class="post-header">
        {{ if not .Date.IsZero }}
        <div class="post-meta">
            <time datetime="{{ .Date.Format " 2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
            {{ with .Params.tags }}
            {{ range . }}
            <span class="sep">✳</span>
            <a href="{{ " tags/" | absURL }}{{ . | urlize }}/">{{ . | upper }}</a>
            {{ end }}
            {{ end }}
        </div>
        {{ end }}
        <h1 class="post-title">{{ .Title }}</h1>
    </header>

    <div class="post-body">
        {{ .Content }}
    </div>

    {{ with .Params.tags }}
    <footer class="post-footer">
        <div class="post-tags">
            {{ range . }}
            <a href="{{ " tags/" | absURL }}{{ . | urlize }}/" class="post-tag">{{ . }}</a>
            {{ end }}
        </div>
    </footer>
    {{ end }}

    <nav class="post-nav">
        {{ with .PrevInSection }}
        <a href="{{ .Permalink }}">← {{ .Title }}</a>
        {{ else }}
        <span></span>
        {{ end }}
        {{ with .NextInSection }}
        <a href="{{ .Permalink }}">{{ .Title }} →</a>
        {{ end }}
    </nav>
</article>

{{ end }}